/**
 * NGP clean
 * Sean Robertson
 * www.ngpsoftware.com
 */

/**
 * Layout
 */
body.clean {margin:0; padding:0 0 54px 0; background:url(images/ngp_clean_background.png) repeat-x center top #80a0c1 !important; color:#000; text-align:center;}
.clean a, .clean a:visited, .clean a:link {color:#a10000}
.clean h1, .clean h2, .clean h3, .clean h4 {font-weight:bold;}


/**
 * Background
 */
.background {display:block; float:none; clear:both; width:966px; margin:0 auto; padding:0;}
.background-body {margin-top:20px; background-color:#fff;}
.background-header {background:url(images/ngp_clean_header.png) no-repeat center top;}
.background-footer {background:url(images/ngp_clean_footer.png) no-repeat center bottom;}


/**
 * Header
 */
#header {height:auto; padding-top:8px;}
#header h1 {margin:0; !important}
#header h1 a {display:block; min-height:75px; color:#0b3f73 !important; text-shadow:0 1px 3px #80a0c0 !important; text-decoration:none;}
#header h1 span.logo {float:left; margin:-75px 0 0 20px;}


/**
 * Navigation
 */
.clean #navigation {padding:5px 0; background:url(images/ngp_clean_navigation.png) no-repeat center top;}
.clean #navigation a {color:#fff;}
.clean #navigation a.active {color:#0b3f73}
.clean #navigation li.last {float:right; padding-right:70px;}
.clean #navigation li.last a {background-color:#fff; color:#a10000; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;}
.clean #navigation ul li ul {background-color:#0b3f73;}
.clean #navigation ul li ul li a {color:#ffffff;}


/**
 * Sidebars
 */
#blocks-right {padding-top:18px; background:url(images/ngp_clean_gradient.gif) repeat-x left top;}


/**
 * Body
 */
.clean .node-teaser .submitted, .clean .views-field-created, .clean .views-field-field-date-value {background-color:#0b3f73;}


/**
 * Footer
 */
#footer {height:101px;}
.clean #footer * {color:#a10000;}


/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/

/**
 * Header
 */
#admin-menu ul a {color:#eee !important;}