html>body {font-size:16px;}

div.NGP-FB-Wrapper {
	width:700px;
	margin:10px auto;
	background:#003473;
}

div.NGP-FB-Header {
	width:700px;
	height:150px;
}

div.NGP-FB-Content {
	margin:5px;
	background:#fff;
	padding:15px;
	border:0;
}

div.NGP-FB-DonateBox {
	width:250px;
	float:right;
	margin:0 0 15px 25px;
	background:#f9f018;
	padding:5px 15px;
	border:2px solid #f3e006;
	color:#000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

div.NGP-FB-DonateBox div.NGP-FB-RadioButtons {
	height:70px;
	margin:0 0 15px;
}

div.NGP-FB-DonateBox div.NGP-FB-RadioButtons div {
	width:80px;
	height:20px;
	margin:0;
	padding:0;
	float:left;
}

div.NGP-FB-DonateBox div.NGP-FB-TextAreas {height:110px;}

div.NGP-FB-DonateBox div.NGP-FB-TextAreas label {
	width:75px;
	text-align:right;
	margin-right:10px;
	display:block;
	height:25px;
	float:left;
	clear:left;
	color:#000;
}

div.NGP-FB-DonateBox div.NGP-FB-TextAreas input {
	display:block;
	height:15px;
	float:left;
	width:155px;
}

div.NGP-FB-DonateBox input.submit {
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans,FreeSans,Jamrul,Garuda,Kalimati;
	border:1px solid #fff;
	background:#9c0000;
	color:#fff;
	float:right;
	margin:0 3px 5px 0;
	padding:2px 7px;
}

h1 {
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans,FreeSans,Jamrul,Garuda,Kalimati;
	font-size:24px;
}