/**
 * NGP Hope
 * Sean Robertson
 * www.ngpsoftware.com
 */


/**
 * Layout
 */
body.hope {margin:0; padding:0; background-color:#003b84; color:#000; text-align:center;}
.hope a:link, .hope a:visited {color:#bf0000;}

/**
 * Background
 */
.background {display:block; float:none; clear:both; width:960px; margin:0 auto; padding:0;}
#hope-background-navigation {background:url(images/navigation.png) no-repeat center top;}
#hope-background-body {background:url(images/page.png) repeat-y center top;}
#hope-background-footer {padding-bottom:14px; background:url(images/footer.png) no-repeat center bottom;}
#content {background:url(images/sidebar.png) no-repeat right top;}

/**
 * Header
 */
.hope #header {position:relative; min-height:100px; padding-top:0;}
.hope #header h1 {margin:0;}
.hope #header h1 a {color:#fff; text-decoration:none;}
.hope #header #block-crmngp-0 {position:absolute; bottom:10px; right:0; margin:0;}
.hope #header #block-crmngp-0 h3 {margin:0; font-size:9pt; font-family:Georgia, serif; color:#fff; text-transform:uppercase;}
.hope #header #block-crmngp-0 .form-item {margin-top:0;}
.hope #header #block-crmngp-0 .form-text {padding:6px 5px 5px 6px; border:0;}
.hope #header #block-crmngp-0 #edit-subscribe-email {width:108px;}
.hope #header #block-crmngp-0 #edit-subscribe-zip {width:59px;}
.hope #header #block-crmngp-0 #edit-subscribe-zip-wrapper {clear:none;}
.hope #header #block-crmngp-0 #edit-subscribe-submit {width:auto; margin:0; padding:3px; border:0; color:#003b83; font-size:11pt; text-transform:uppercase; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}


/**
 * Navigation
 */
.hope #navigation {height:55px; padding:0 0 0 12px;}
.hope #navigation ul li a {padding:11px; font-size:14pt; font-family:Georgia, serif; color:#002f62;}
.hope #navigation ul li a.active {color:#000;}
.hope #navigation ul ul {top:50px; background-color:#fff;}
.hope #navigation ul ul li a {padding:5px 11px;}


/**
 * Sidebars
 */
.hope #blocks-right {background:url(images/sidebar_bottom.png) no-repeat 0 326px;}
.hope #blocks-right .top {background:url(images/sidebar_top.png) no-repeat right top;}
.hope #blocks-right .block {padding:18px 20px; margin:0;}

.hope #blocks-right #block-menu-action {height:221px; overflow:hidden; padding-bottom:10px;}
.hope #block-menu-action ul li a {height:30px; margin:0 20px; padding:12px 0; border:0; border-top:solid 1px rgba(255,255,255,0.5); border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; background:none transparent; color:#fff; font-size:16pt; text-transform:uppercase;}
.hope #block-menu-action ul li a.contribute {height:50px; padding:2px 0; margin:0; border:solid 1px #003b84; background-color:#fff; color:#003b84; text-align:center; font-size:25pt;}

.hope #blocks-right #block-follow-site {padding:15px 20px;}
#block-follow-site h3.block-title {display:none;}

.block-flickr .flickr-photo-img {margin:7px;}


/**
 * Follow Icons
 */
.hope a.follow-link {width:48px; height:48px; text-indent: -9999px; float:left; margin:0 10px 0 0; padding:0;}
.hope a.follow-link-facebook {background-image:url(../follow_icons/48/icon-facebook.png);}
.hope a.follow-link-myspace {background-image:url(../follow_icons/48/icon-myspace.png);}
.hope a.follow-link-youtube {background-image:url(../follow_icons/48/icon-youtube.png);}
.hope a.follow-link-twitter {background-image:url(../follow_icons/48/icon-twitter.png);}
.hope a.follow-link-flickr {background-image:url(../follow_icons/48/icon-flickr.png);}
.hope a.follow-link-linkedin {background-image:url(../follow_icons/48/icon-linkedin.png);}


/**
 * Homepage
 */
.hope #action {margin-bottom:18px;}
.hope #action .rotor {margin-top:0; line-height:1.15;}
.hope #action .rotor .rotor-content {width:640px !important; background:url(images/action.png) no-repeat left top;}

.hope #action .rotor .field-image {position:relative; z-index:0; text-align:right;}
.hope #action .rotor .node-body {position:relative; z-index:1; height:249px; margin-top:-249px;}

.hope #action .rotor .views-field-title, .hope #action .rotor h2.node-title {margin:0; padding:18px 35px; background-color:transparent; opacity:1; text-align:center;}
.hope #action .rotor .views-field-title a, .hope #action .rotor .views-field-title span, .hope #action .rotor h2.node-title a {color:#fff !important; font-size:15pt; font-family:Georgia, serif; text-transform:uppercase; text-decoration:none; opacity:1;}

.hope #action .rotor .node .content {margin:0 35px;}
.hope #action .rotor .node .content p {margin-bottom:9px; font-size:11pt; color:#fff;}

.hope #action .rotor-tabs {position:relative; z-index:400; display:block; float:none; width:640px; height:77px; margin:0; background:url(images/action.png) no-repeat left bottom;}
.hope #action .rotor-tab {display:block; float:left; margin-right:0; width:193px; height:57px; padding:10px; background-color:transparent; text-indent:0; color:#fff; font-size:12pt; font-family:Georgia, serif; opacity:0.75;}
.hope #action .rotor-tab.selected {font-weight:bold; opacity:1;}

.hope #action #node-32 .content p {text-align:center;}
.hope #action #node-32 .content p strong {font-size:110%; color:#fff;}

h2.pane-title, h3.block-title {font-size:14pt; font-family:Georgia, serif; color:#000;}


/**
 * Date blocks and node teaser titles
 */
.node-teaser .submitted, .views-field-created {width:32px; height:38px; margin:-1px 9px 0 -1px; background-color:#eee; box-shadow:0px 1px 2px #888; -moz-box-shadow:0px 1px 2px #888; -webkit-box-shadow:0px 1px 2px #888;}
.node-teaser .submitted strong, .views-field-created strong {color:#fff; background-color:#bf0000;}
.hope .views-field-field-date-value {width:auto; height:auto; float:none; text-align:left;}



/**
 * Footer
 */
#footer {height:135px; padding-top:293px; opacity:1;}
#footer * {color:#95c6f1 !important; text-decoration:none;}
#footer-message, #footer-links {padding-top:28px; padding-bottom:28px;}
#footer-message {background:url(images/logo_small.png) no-repeat left center;}
#footer-links ul li {display:block; float:none; padding:0;}
