/**
 * Generic elements
 */
body {margin:0; padding:0; background:#fff; font:12px Arial; color:#000;}
ul, quote, code, fieldset {margin:.5em 0;}
p {margin:0; padding:0.1em 0 0.6em;}

h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-weight:normal; font-family:Helvetica, Arial, sans-serif;}
h1 {font-size:170%;}
h2 {font-size:160%;}
h3 {font-size:140%;}
h4 {font-size:130%;}
h5 {font-size:120%;}
h6 {font-size:110%;}

hr {margin:0; padding:0; border:none; height:1px; background:#5294c1;}

ul {margin:0.5em 0 1em; padding:0;}
ul li {margin:0.4em 0 0.4em .5em;}
ul.menu, .item-list ul {margin:0.35em 0 0 -0.5em; padding:0;}
ul.menu ul, .item-list ul ul {margin-left:0em;}
ul li, ul.menu li, .item-list ul li, li.leaf {margin:0.15em 0 0.15em .5em;}
ul li, ul.menu li, .item-list ul li, li.leaf {padding:0 0 .2em 1.5em; list-style-type:none; list-style-image:none; background:transparent url(images/menu-leaf.gif) no-repeat 1px .35em;}
ul li.expanded {background:transparent url(images/menu-expanded.gif) no-repeat 1px .35em;}
ul li.collapsed {background:transparent url(images/menu-collapsed.gif) no-repeat 0px .35em;}
ul li.leaf a, ul li.expanded a, ul li.collapsed a {display:block;}
ul.inline li {background:none; margin:0; padding:0 1em 0 0;}
ul.links li, ul.inline li {margin-left:0; margin-right:0; padding-left:0; padding-right:1em; background-image:none;}
ul ul {margin-left:1.5em;}

fieldset ul.clear-block li {margin:0; padding:0; background-image:none;}

dl {margin:0.5em 0 1em 1.5em;}
dl dt {}
dl dd {margin:0 0 .5em 1.5em;}

img, a img {border:none;}

table {margin:1em 0; width:100%;}
thead th {border-bottom:2px solid #d3e7f4; color:#494949; font-weight:bold;}
th a:link, th a:visited {color:#6f9dbd;}
td, th {padding:.3em .5em;}
tr.even, tr.odd, tbody th {border:solid #d3e7f4; border-width:1px 0;}
tr.odd, tr.info {background-color:#edf5fa;}
tr.even {background-color:#fff;}
tr.odd td.active {background-color:#ddecf5;}
tr.even td.active {background-color:#e6f1f7;}
td.region, td.module, td.container {border-top:1.5em solid #fff; border-bottom:1px solid #b4d7f0; background-color:#d4e7f3; color:#455067; font-weight:bold;}
tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {border-top-width:0;}

span.form-required {color:#ffae00;}
span.submitted, .description {font-size:0.92em; color:#898989;}
.description {line-height:150%; margin-bottom:0.75em; color:#898989;}

.messages, .preview {margin:.75em 0 .75em; padding:.5em 1em;}
.messages ul {margin:0;}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {margin:0.25em 0;}
#center form {margin-bottom:2em;}
.form-button, .form-submit {margin:2em 0.5em 1em 0;}
.confirmation .form-submit, .search-form .form-submit, .poll .form-submit, fieldset .form-button, fieldset .form-submit, .sidebar .form-button, .sidebar .form-submit, table .form-button, table .form-submit {margin:0;}

.box {margin-bottom:2.5em;}

.clear-both {clear:both;}
.clear-left {clear:left;}
.clear-right {clear:right;}


/**
 * Local tasks
 */
#content ul.primary, #content ul.primary li, #content ul.secondary, #content ul.secondary li {border:0; background:none; margin:0; padding:0;}

#content #tabs-wrapper {margin-bottom:1em; padding:0; border-bottom:1px solid #dfdfdf; position:relative;}
#content ul.primary {padding:0.5em 0 3px; float:left;}
#content ul.secondary {clear:both; text-align:left; border-bottom:1px solid #dfdfdf; margin:-0.2em 0 1em; padding:0 0 0.6em;}
#content h2.with-tabs {float:left; margin:0 2em 0 0; padding:0;}

#content ul.primary li a, #content ul.primary li.active a, #content ul.primary li a:hover, #content ul.primary li a:visited, #content ul.secondary li a, #content ul.secondary li.active a, #content ul.secondary li a:hover, #content ul.secondary li a:visited {border:0; background:transparent; padding:4px 5px; margin:0 0 0 1px; height:auto; text-decoration:none; position:relative; top:-1px;}
#content ul.primary li.active a, #content ul.primary li.active a:link, #content ul.primary li.active a:visited, #content ul.primary li a:hover, #content ul.secondary li.active a, #content ul.secondary li.active a:link, #content ul.secondary li.active a:visited, #content ul.secondary li a:hover {background:url(images/bg-tab.png) repeat-x 0 50%; color:#fff;}
#content ul.primary li.active a, #content ul.secondary li.active a {font-weight:bold;}


/**
 * Aggregator.module
 */
#aggregator {margin-top:1em;}
#aggregator .feed-item-title {font-size:160%; line-height:130%;}
#aggregator .feed-item {border-bottom:1px solid #e9eff3; margin:-1.5em -31px 1.75em; padding:1.5em 31px;}
#aggregator .feed-item-categories {font-size:0.92em;}
#aggregator .feed-item-meta {font-size:0.92em; color:#898989;}

/**
 * Blocks.module
 */
.block-region {margin:0; padding:1em; background:transparent; border:2px dashed #003471; text-align:center; font-size:1.3em;}

/**
 * Menu.module
 */
tr.odd td.menu-disabled {background-color:#edf5fa;}
tr.even td.menu-disabled {background-color:#fff;}
td.menu-disabled {opacity:0.5;}

/**
 * Poll.module
 */
.poll .bar {background:#fff url(images/bg-bar-white.png) repeat-x 0 0; border:solid #f0f0f0; border-width:0 1px 1px;}
.poll .bar .foreground {background:#71a7cc url(images/bg-bar.png) repeat-x 0 100%;}
.poll .percent {font-size:.9em;}

/**
 * Autocomplete.
 */
#autocomplete li {cursor:default; padding:2px; margin:0;}

/**
 * Collapsible fieldsets
 */
fieldset {margin:1em 0; padding:1em; border:1px solid #bbb;}
html.js fieldset legend {display:block;}
html.js fieldset.collapsed {background:transparent; padding-top:0; padding-bottom:.6em;}
html.js fieldset.collapsible legend a {padding-left:2em; background:url(images/menu-expanded.gif) no-repeat 0% 50%;}
html.js fieldset.collapsed legend a {background:url(images/menu-collapsed.gif) no-repeat 0% 50%;}

/**
 * Syndication icons and block
 */
#block-node-0 h2 {float:left; padding-right:20px;}
#block-node-0 img, .feed-icon {float:right; padding-top:4px;}
#block-node-0 .content {clear:right;}

/**
 * Login Block
 */
#user-login-form {text-align:center;}
#user-login-form ul {text-align:left;}

/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {margin:0; padding:0;}

div.admin .left {float:left; width:48%; margin-left:0 !important;}
div.admin .right {float:right; width:48%; margin-right:0 !important;}

div.admin-panel {background:#fff url(images/gradient-inner.png) repeat-x 0 0; padding:1em 1em 1.5em;}
div.admin-panel .description {margin-bottom:1.5em;}
div.admin-panel dl {margin:0;}
div.admin-panel dd {color:#898989; font-size:0.92em; line-height:1.3em; margin-top:-.2em; margin-bottom:.65em;}

table.system-status-report th {border-color:#d3e7f4;}
#autocomplete li.selected, tr.selected td, tr.selected td.active {background:#027ac6; color:#fff;}
tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {color:#d3e7f4;}

/**
 * CSS support
 */
span.clear {display:block; clear:both; height:1px; line-height:0px; font-size:0px; margin-bottom:-1px;}

/**
 * Generic elements.
 */
.messages {background-color:#fff; border:1px solid #b8d3e5;}
.preview {background-color:#fcfce8; border:1px solid #e5e58f;}
div.status {color:#3a3; border-color:#c7f2c8;}
div.error {color:#c52020;}
.form-item input.error, .form-item textarea.error {border:1px solid #c52020; color:#494949;}
.node .clear-block {display:block; clear:both;}
.breadcrumb {clear:both;}

/**
 * Watchdog.module
 */
tr.watchdog-user {background-color:#fcf9e5;}
tr.watchdog-user td.active {background-color:#fbf5cf;}
tr.watchdog-content {background-color:#fefefe;}
tr.watchdog-content td.active {background-color:#f5f5f5;}
tr.watchdog-warning {background-color:#fdf5e6;}
tr.watchdog-warning td.active {background-color:#fdf2de;}
tr.watchdog-error {background-color:#fbe4e4;}
tr.watchdog-error td.active {background-color:#fbdbdb;}
tr.watchdog-page-not-found, tr.watchdog-access-denied {background:#d7ffd7;}
tr.watchdog-page-not-found td.active, tr.watchdog-access-denied td.active {background:#c7eec7;}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {background-color:#fcc; border-color:#ebb; color:#200;}
table.system-status-report tr.warning, table.system-status-report tr.warning th {background-color:#ffd; border-color:#eeb;}
table.system-status-report tr.ok, table.system-status-report tr.ok th {background-color:#dfd; border-color:#beb;}

/**
 * Views.module
 */
.view-empty {padding-top:1px;}

