/* Primary Components */
body {background-color:#fff;}
body, div, p {font:normal 10pt Arial,Helvetica,Helmet,sans-serif; color:#000;}
img.align-left {float:left; margin:2px 5px 2px 0;}
img.align-right {float:right; margin:2px 0 2px 5px;}
