/**
 * Fix innumerable IE 6.0 bugs (damn you, Bill Gates!)
 */

/* broken PNG images */
#home .view-action-item div.node .top {background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/new/themes/ngp/images/actionbar.png', sizingMethod='crop');}
#home .view-action-item div.node .image {height:208px;}

/* gaps between list items */
.block .menu li a {display:inline-block;}
.block .menu li a {display:block;}