/**
 * NGP Standard Framework
 * Sean Robertson
 * www.ngpsoftware.com
 */
@import "../blueprint/blueprint/blueprint/src/typography.css";

/**
 * Layout
 */
html, body {width:100%; margin:0; padding:0; text-align:center;}
div.last.append-1 {padding-right:40px;}
input {vertical-align:middle;}


/**
 * Container
 */
div.container {text-align:left; margin:0 auto;}


/**
 * Header
 */
#header {margin-bottom:0;}
#header h1 {display:block; width:auto; margin:0;}
#header .blocks {display:block; width:auto; float:right; margin:0;}


/**
 * Background
 */
#navigation {margin-top:0; height:36px;}
#navigation ul {position:relative; z-index:10; display:block; float:none; width:auto; margin:0; padding:0 0 5px 0;}
#navigation ul li {position:relative; z-index:10; display:block; float:left; width:auto; margin:0; padding:0; list-style-type:none; white-space:nowrap;}
#navigation ul li a, #navigation ul li a * {font-size:11pt; text-decoration:none; text-transform:uppercase; font-weight:bold; /*color:#fff;*/}
#navigation ul li a {position:relative; z-index:10; display:block; float:left; width:auto; margin:0; padding:8px 15px 6px 15px;}

#navigation ul li ul {display:none; position:absolute; top:35px; left:7px; z-index:1000; width:auto; height:auto; padding:0;}
#navigation ul li:hover ul {display:block;}
#navigation ul li ul li {position:relative; z-index:1000; display:block; float:none; clear:both; width:auto; height:25px; margin:0; padding:0;}
#navigation ul li ul li a {position:relative; z-index:1000; display:block; width:auto; height:auto; padding:5px 8px; font-size:10pt; white-space:nowrap; text-transform:none;}


/**
 * blocks
 */
div.block {margin-bottom:27px;}
div.block ul.menu, div.block ul.menu li {margin:0; padding:0; list-style-image:none; list-style-type:none;}
#user-login-form {text-align:left;}

#header .block-crmngp {margin:0 -10px 0 0;}
.block-crmngp * {vertical-align:middle;}
.block-crmngp .form-item {float:left; margin:10px 10px 0 0;}
.block-crmngp .form-text {margin:0; border:1px solid #000; background:url(images/fieldbg.gif) no-repeat left top; opacity:0.5;}
.block-crmngp .form-submit {float:left; margin:10px 0 0 0; padding:0; width:108px; font-size:11pt; font-weight:bold; background-color:#fff; border:solid 1px #999; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.block-crmngp #edit-subscribe-first-name, .block-crmngp #edit-subscribe-last-name, .block-crmngp #edit-subscribe-email {width:183px;}
.block-crmngp #edit-subscribe-zip, .block-crmngp #edit-contribute-amount {width:65px;}
.block-crmngp #edit-subscribe-zip-wrapper {clear:both;}

#block-menu-action ul.menu a {display:block; margin-bottom:5px; padding:3px 5px; font-size:150%; font-weight:bold; text-decoration:none; background-color:#fff; border:solid 1px #999; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

#block-views-stream-block_1 .views-row {margin-bottom:18px;}
#block-views-stream-block_1 .views-row * {display:inline;}


/**
 * Body
 */
div.view div.views-admin-links ul {margin-bottom:0;}

.flickr-photo-title {display:none;}

.crmngp-form #edit-submit {font-size:14pt;}

div.panel-pane div.node {border-bottom:1px solid #CCCCCC; margin:0 0 1.5em; padding:0 0 1.417em;}

h2.pane-title {font-size:1.5em;}


/**
 * Date blocks and node teaser titles
 */
.node-teaser .title {display:block; height:auto; margin-bottom:18px;}
.node-teaser .submitted, .views-field-created, .views-field-field-date-value {display:block; float:left; width:30px; height:36px; margin:0 10px 0 0; text-align:center;}
.node-teaser .submitted strong, .views-field-created strong, .views-field-field-date-value strong {display:block; float:none; clear:both; font-weight:normal; font-style:normal; font-size:10px; text-transform:uppercase;}
.node-teaser .submitted em, .views-field-created em, .views-field-field-date-value em {display:block; float:none; clear:both; font-weight:normal; font-style:normal; font-size:18px; line-height:18px; text-transform:uppercase;}
.node-teaser h2, .views-field-title {text-transform:none;}
.node-teaser h2 a, .views-field-title a {font-size:12pt; line-height:18px; font-family:Helvetica, san-serif; font-weight:normal; text-decoration:none;}

.views-row:after {content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
.views-row {display:inline-block; margin-bottom:18px;}
html[xmlns] .views-row {display:block;}
* html .views-row {height:1%;}

.views-field-teaser {clear:both; margin-top:18px;}


body.page-admin #body table {position:relative; z-index:1;}

.context-links {display:block; float:right; padding:3px; background-color:#fff;}
.context-links a {margin-left:5px; padding:2px 5px; color:#fff !important; background-color:#666; border:solid 1px #000; text-decoration:none;}


/**
 * Homepage
 */
#action .rotor {margin-top:-18px;}
#action .rotor .rotor-content {display:block; width:100%;}
#action .rotor .views-field-title, #action .rotor .node-body h2.node-title {display:block; width:auto; margin-top:-28px; padding:5px; background-color:#000; opacity:0.5;}
#action .rotor .views-field-title a, #action .rotor .views-field-title span, #action .rotor .node-body h2.node-title a {color:#fff; font-weight:bold; font-size:12pt; text-decoration:none; opacity:1;}

#action .rotor-tabs {position:relative; z-index:1000; display:block; float:right; margin:-23px -40px 0 0;}
#action .rotor-tab {display:block; float:left; margin-right:5px; width:20px; height:18px; background-color:#000; text-indent:-9999px;}
#action .rotor-tab.selected {background-color:#fff;}


/**
 * Follow Icons
 */
a.follow-link {width:24px; height:25px; text-indent: -9999px; float:left; margin:0 6px 9px 0; padding:0;}
a.follow-link-facebook {background-image:url(follow_icons/icon-facebook.png);}
a.follow-link-myspace {background-image:url(follow_icons/icon-myspace.png);}
a.follow-link-virb {background-image:url(follow_icons/icon-virb.png);}
a.follow-link-bliptv {background-image:url(follow_icons/icon-bliptv.png);}
a.follow-link-lastfm {background-image:url(follow_icons/icon-lastfm.png);}
a.follow-link-youtube {background-image:url(follow_icons/icon-youtube.png);}
a.follow-link-twitter {background-image:url(follow_icons/icon-twitter.png);}
a.follow-link-picasa {background-image:url(follow_icons/icon-picasa.png);}
a.follow-link-flickr {background-image:url(follow_icons/icon-flickr.png);}
a.follow-link-vimeo {background-image:url(follow_icons/icon-vimeo.png);}
a.follow-link-linkedin {background-image:url(follow_icons/icon-linkedin.png);}
a.follow-link-delicious {background-image:url(follow_icons/icon-delicious.png);}
a.follow-link-tumblr {background-image:url(follow_icons/icon-tumblr.png);}


/**
 * Footer
 */
#footer {padding:18px 0; opacity:0.5;}
#footer .fecnotice {display:block; float:left; clear:both; margin:18px 0; border:solid 1px;}


/**
 * Powered By
 */
#poweredby {display:block; float:none; clear:both; width:740px; height:25px; margin:20px auto 0 auto; padding:0; text-align:center;}
#poweredby, #poweredby a {font-size:8pt;}
#poweredby img {vertical-align:middle;}


/**
 * Admin
 */
body.admin-menu {margin-top:71px !important;}
body.admin-menu #managers-bar {top:21px !important;}
#managers-bar > ul > li > a {color:#fff !important;}


/**
 * Other
 */
fieldset select {margin:0.5em 0;}
.views-admin-links {white-space:nowrap;}
