/**
 * NGP Glass
 * Sean Robertson
 * www.ngpsoftware.com
 */


/**
 * Layout
 */
body.smooth {margin:0; padding:0; background:url(images/background.png) repeat-x left top #00529c; color:#000; text-align:center;}
.smooth a, .smooth a:link, .smooth a:visited {color:#00529c;}

h1, h2, h3, h4 {font-family:Georgia, serif;}
h1 a, h2 a, h3 a, h4 a {text-decoration:none;}


/**
 * Background
 */
.background {display:block; float:none; clear:both; width:1000px; margin:0 auto; padding:0;}
#smooth-background-page {width:100%; background:url(images/background.png) repeat-x left top;}
#smooth-background-left {background:url(images/left.png) no-repeat left top;}
#smooth-background-right {background:url(images/right.png) no-repeat right top;}

.smooth .container {width:890px; margin:0 auto; padding:0;}


/**
 * Header
 */
.smooth #header {height:174px; padding:0 55px; background:url(images/header.png) no-repeat center top;}
.smooth #header #logo-floater {float:left; width:auto;}
.smooth #header h1 {margin:0; padding:30px 0 0 0;}
.smooth #header h1 a {display:block; color:#00529c;}
.smooth #header h1 span.logo {position:relative; z-index:1000; float:right; margin:-75px 20px 0 0;}

.smooth #header .blocks {float:right; width:190px; padding:20px 20px 0 0; margin:0;}


/**
 * CRMNGP Buttons
 */
.smooth .block-crmngp .form-submit {background-color:#40648c; color:#fff; border-color:#000;}


/**
 * Navigation
 */
.smooth #navigation {height:41px;}
.smooth #navigation > ul {display:block; float:right; padding:0;}
.smooth #navigation a {padding:8px 15px 11px; color:#fff; font-weight:normal; text-transform:none;}
/*.smooth #navigation a.active {background-color:#fff; color:#000;}*/
.smooth #navigation ul li ul {background-color:#40648c;}
.smooth #navigation ul li ul li a {color:#ffffff;}


/**
 * Sidebar
 */
.smooth #blocks-right {float:right; width:190px; padding:0 20px; margin:0;}
.smooth #blocks-right * {color:#fff;}
.smooth .block .content {padding-left:30px;}
.smooth #block-menu-action .content, .smooth .block-crmngp .content {padding-left:0;}

.smooth h3.block-title {display:block; margin-bottom:5px; padding:5px 0; color:#fff; font-weight:bold; font-size:12pt; line-height:1;}

.smooth .block-crmngp .form-item, .smooth .block-crmngp .form-submit {margin-top:0; margin-bottom:10px;}
.smooth #block-crmngp-0 h3.block-title {padding-left:30px; background:url(images/subscribe.png) no-repeat left center;}

.smooth #block-menu-action ul.menu a {color:#fff; background-color:transparent; border:0; padding:5px 0 5px 30px; font-size:12pt; line-height:1;}
.smooth #block-menu-action ul.menu a.contribute {background:url(images/contribute.png) no-repeat left center;}
.smooth #block-menu-action ul.menu a.volunteer {background:url(images/volunteer.png) no-repeat left center;}
.smooth #block-menu-action ul.menu a.epostcard {background:url(images/epostcard.png) no-repeat left center;}
.smooth #block-menu-action ul.menu a.letter {background:url(images/letter.png) no-repeat left center;}

.smooth #block-crmngp-1 h3.block-title {padding-left:30px; background:url(images/contribute.png) no-repeat left center;}

.smooth .block-flickr h3.block-title {padding-left:30px; background:url(images/photos.png) no-repeat left center;}

.smooth #block-views-events-block_1 h3.block-title {padding-left:30px; background:url(images/events.png) no-repeat left center;}

.smooth #block-views-videos-block_1 h3.block-title {padding-left:30px; background:url(images/videos.png) no-repeat left center;}



/**
 * Body
 */
.smooth #content {width:890px; margin:0 auto;}
.smooth #body {width:620px; padding:20px; margin:0; background-color:#fff;}

.smooth .node-teaser .submitted, .smooth .views-field-created {background-color:#40648c; color:#ffffff;}
.smooth .views-field-field-date-value {display:block; float:none; height:auto; width:auto; margin:0 10px 0 0; text-align:left;}
.smooth .block .views-field-field-date-value {font-size:8pt;}
.smooth .block .node-teaser h2 a, .smooth .block .views-field-title a {font-size:11pt; font-weight:bold;}

.smooth #action {width:660px; margin:-20px -20px 20px; background:url(images/action.png) no-repeat left top;}
.smooth #action * {color:#fff;}
.smooth #action .pane-content {padding:20px;}
.smooth #action .views-row, .smooth #action .node {margin:0;}
.smooth #action .rotor-tab {background-color:#0b3f72;}
.smooth #action .rotor-tab.selected {background-color:#a10000;}

.smooth div.panel-pane div.node {border-bottom:0; padding:0;}

/**
 * Footer
 */
.smooth #footer {display:block; float:none; clear:left; width:620px; height:120px; padding:20px; color:#fff; background:url(images/footer.png) no-repeat center bottom; opacity;}
.smooth #footer .fecnotice {border-color:#fff;}


/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/

/**
 * Header
 */
#header h1 a {text-decoration:none; text-shadow:0;}
#admin-menu ul a {color:#eee !important;}
.smooth .block-crmngp .form-text {color:#000 !important;}