/**
 * NGP Glass
 * Sean Robertson
 * www.ngpsoftware.com
 */


/**
 * Layout
 */
body.glass {margin:0; padding:0; background:#0b3f72; color:#000; text-align:center;}
.glass a, .glass a:link, .glass a:visited {color:#0b3f72;}


/**
 * Background
 */
.background {display:block; float:none; clear:both; width:980px; margin:0 auto; padding:0;}
.background-header {background:url(images/ngp_glass_header.png) no-repeat center top;}
.background-navigation {background:url(images/ngp_glass_navigation.png) no-repeat center top;}
.background-body {background:url(images/ngp_glass_body.png) repeat-y center top;}
.background-footer {background:url(images/ngp_glass_footer.png) no-repeat center bottom;}

.background-left {width:auto; background:url(images/ngp_glass_left.png) repeat-y;}
.background-right {width:auto; background:url(images/ngp_glass_right.png) repeat-y;}


/**
 * Header
 */
#header {height:auto; padding-top:17px;}
#header h1 {margin:0;}
#header h1 a {display:block; min-height:75px;}
#header h1 span.logo {position:relative; z-index:1000; float:right; margin:-75px 20px 0 0;}


/**
 * CRMNGP Buttons
 */
.glass .block-crmngp .form-submit {background-color:#0b3f71; color:#fff; border-color:#000;}


/**
 * Navigation
 */
.glass #navigation {padding-top:1px; background-color:transparent;}
.glass #navigation a {color:#fff;}
.glass #navigation a.active {background-color:#fff; color:#000;}
.glass #navigation ul li ul {background-color:#a10000;}
.glass #navigation ul li ul li a {color:#ffffff;}


/**
 * Body
 */
.glass #content {margin:0 auto;}

.glass .node-teaser .submitted, .glass .views-field-created, .glass .views-field-field-date-value {background-color:#a10000; color:#ffffff;}

.glass #action .rotor-tab {background-color:#0b3f72;}
.glass #action .rotor-tab.selected {background-color:#a10000;}

/**
 * Footer
 */
#footer {height:95px; color:#fff;}
#footer .fecnotice {border-color:#fff;}


/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/

/**
 * Header
 */
#header h1 a {text-decoration:none; color:#fff !important; text-shadow:0 1px 3px #000 !important;}
#admin-menu ul a {color:#eee !important;}