/**
 * NGP Custom
 * Sean Robertson
 * www.ngpsoftware.com
 */

/**
 * General
 */
body {margin:0; padding:0; color:#000; text-align:center;}
a {color:#a10001;}


/**
 * Background
 */
.background {display:block; float:none; clear:both; width:100%; margin:0; padding:0;}


/**
 * Header
 */
#header {height:115px; padding-top:20px;}
#header h1 {margin:0;}
#header h1 a {text-decoration:none;}


/**
 * Navigation
 */
#navigation {padding:5px 0;}
#navigation a {color:#fff;}
#navigation a.active {color:#000;}



/**
 * Admin Menu
 */
#admin-menu ul a {color:#eee !important;}